{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/data.csv {:mvn/version "1.1.0"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.981"}
        com.zaxxer/HikariCP {:mvn/version "6.2.1"}
        org.postgresql/postgresql {:mvn/version "42.7.5"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.16"}
        ring/ring-core {:mvn/version "1.13.0"}
        http-kit/http-kit {:mvn/version "2.8.0"}
        compojure/compojure {:mvn/version "1.7.1"}
        hiccup/hiccup {:mvn/version "2.0.0-RC4"}}
 :aliases {:run {:main-opts ["-m" "betrayal.spike.main"]}
           :build {:deps {io.github.clojure/tools.build
                          {:mvn/version "0.10.6"}}
                   :ns-default build}
           :test {:extra-paths ["test"]
                  :main-opts ["-m" "betrayal.spike.test-runner"]}}}
